@model MovieCustomerWithAuthMVC_app.Models.Movie
@{
    ViewBag.Title = "Details";

}

<h2> Movie Details</h2>

<table class="table table-bordered table-striped">
    <tr>
        <td>Movie Name</td>
        <td>@Model.MovieName</td>
    </tr>
    <tr>
        <td>Genre Name</td>
        <td>@Model.Genre.GenreName</td>
    </tr>
</table>
<div>
    @Html.ActionLink("Back", "Index", "Movies", null , new { @class = "btn btn-primary" })
</div>

